body {
  background-color: white;
  font-family: 'NTR', sans-serif;
  color: #333;
}


.heading {
  text-align: left;
  padding-left: 500px;
  padding-top: 50px;
}

.heading-title {

}
.heading-name {
  height: 120px;
}

h1 {
  font-size: 85px;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}

p {
  padding-right: 470px;
  font-size: 22px;
}

.ticketmania {
  text-align: left;
  font-size: 20px;
  margin: 20px;
  padding-left: 30px;
  background-color: #25BEA0;
  overflow: auto;
}

.hidden-gems {
  text-align: left;
  font-size: 20px;
  margin: 20px;
  padding-left: 30px;
  color: white;
  background-color: black;
  overflow: auto;
}



.vinyl-destination {
  text-align: left;
  font-size: 20px;
  margin: 20px;
  padding-left: 30px;
  background-color: #25BEA0;
  overflow: auto;
}

.stack {
  text-align: left;
  font-size: 20px;
  margin: 20px;
  padding-left: 30px;
  color: white;
  background-color: black;
  overflow: auto;
}


.ticketmania-desktop   {
  display: block;
  padding-right: 50px;
  padding-bottom: 20px;
  float: right;
}


.portfolio-heading {
  text-align: center;
}

.contact-heading {
  text-align: center;
}

.portfolio-subheading {
  padding-right: 885px;
}

.vinyl-destination {
  text-align: left;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  background-color: #25BEA0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 10px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color: #333;
}


.row {
  display: flex;
  padding-left: 385px;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

#navbar {
  width: 100%;
}
